backports.cached-property
pyhumps
lightkube>=0.10.1,<1.0.0
jsonschema
ops>=1.3.0,<2.0.0
pyyaml
git+https://github.com/canonical/ops-lib-manifest.git@d8011cbd96c63257fffe76e979ac4b06da9b4fda
git+https://github.com/charmed-kubernetes/interface-kube-control.git@6dd289d1c795fdeda1bed17873b8d6562227c829#subdirectory=ops
